server:
  port: 8085

spring:
  application:
    name: gateway

  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: http://localhost:8081
          predicates:
            - Path=/identity/**
          filters:
            - StripPrefix=1

        - id: credit-service
          uri: http://localhost:8082
          predicates:
            - Path=/credit/**
          filters:
            - StripPrefix=1

        - id: reporting-service
          uri: http://localhost:8083
          predicates:
            - Path=/report/**
          filters:
            - StripPrefix=1

      default-filters:
        - TokenRelay

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/ledgerx

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
  security:
    enabled: false
